@import '../TerminalController.css';

.AboutLeftColumnContainer {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.AboutRowContainer {
    display: flex;
    flex-direction: row;
    width: inherit;
}

.AboutTitle {
    font-size: max(1.3vw, 12px);
    display: inline-block;
    white-space: pre;
    flex-shrink: 0;
    flex-grow: 0;
}

.AboutHeadshotImage {
    margin-left: auto;
    margin-right: auto;
    width: max(20vw, 184.6px);
    animation: scale-in-center 0.5s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    -webkit-animation: scale-in-center 0.5s;
    -webkit-animation-play-state: paused;
    -webkit-animation-fill-mode: forwards;
}

.AboutSocialMediaIconRowContainer {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    padding-bottom: max(3.33vw, 30.7px);
    justify-content: center;
}

.AboutGitHubIconContainer {
    width: max(2vw, 18.4px);
    padding: 0;
    margin-right: 1vw;
}

.AboutLinkedInIconContainer {
    width: max(2vw, 18.4px);
    padding: 0;
    margin-left: 1vw;
}

.AboutGitHubIcon {
    width: max(2vw, 18.4px);
    animation: scale-in-center 0.5s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    -webkit-animation: scale-in-center 0.5s;
    -webkit-animation-play-state: paused;
    -webkit-animation-fill-mode: forwards;
}

.AboutLinkedInIcon {
    width: max(2vw, 18.4px);
    animation: scale-in-center 0.5s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    -webkit-animation: scale-in-center 0.5s;
    -webkit-animation-play-state: paused;
    -webkit-animation-fill-mode: forwards;
}

.AboutRightColumnContainer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.AboutText {
    font-size: max(1.329vw, 12.267px);
    color: #f5c743;
    display: inline-block;
    overflow: hidden;
    white-space: pre;
    flex-shrink: 0;
    flex-grow: 0;
}

.AboutTechnologiesIconRowContainer1 {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    margin-top: max(1.33vw, 12.2px);
}

.AboutTechnologiesIconRowContainer2 {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    margin-top: max(1.33vw, 12.2px);
}

.AboutJavaIconContainer {
    display: flex;
    flex-shrink: 0;
    width: max(3.33vw, 30.7px);
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.AboutJavaIcon {
    width: max(3.33vw, 30.7px);
    opacity: 0;
    animation: scale-in-center 0.5s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    -webkit-animation: scale-in-center 0.5s;
    -webkit-animation-play-state: paused;
    -webkit-animation-fill-mode: forwards;
}

.AboutPythonIconContainer {
    display: flex;
    flex-shrink: 0;
    width: max(3.33vw, 30.7px);
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.AboutPythonIcon {
    width: max(3.33vw, 30.7px);
    opacity: 0;
    animation: scale-in-center 0.5s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    -webkit-animation: scale-in-center 0.5s;
    -webkit-animation-play-state: paused;
    -webkit-animation-fill-mode: forwards;
}

.AboutCIconContainer {
    display: flex;
    flex-shrink: 0;
    width: max(3.33vw, 30.7px);
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.AboutCIcon {
    width: max(3.33vw, 30.7px);
    opacity: 0;
    animation: scale-in-center 0.5s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    -webkit-animation: scale-in-center 0.5s;
    -webkit-animation-play-state: paused;
    -webkit-animation-fill-mode: forwards;
}

.AboutOCamlIconContainer {
    display: flex;
    flex-shrink: 0;
    width: max(3.33vw, 30.7px);
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.AboutOCamlIcon {
    width: max(3.33vw, 30.7px);
    opacity: 0;
    animation: scale-in-center 0.5s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    -webkit-animation: scale-in-center 0.5s;
    -webkit-animation-play-state: paused;
    -webkit-animation-fill-mode: forwards;
}

.AboutJavascriptIconContainer {
    display: flex;
    flex-shrink: 0;
    width: max(3.33vw, 30.7px);
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.AboutJavascriptIcon {
    width: max(3.33vw, 30.7px);
    opacity: 0;
    animation: scale-in-center 0.5s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    -webkit-animation: scale-in-center 0.5s;
    -webkit-animation-play-state: paused;
    -webkit-animation-fill-mode: forwards;
}

.AboutHTMLIconContainer {
    display: flex;
    flex-shrink: 0;
    width: max(3.33vw, 30.7px);
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.AboutHTMLIcon {
    width: max(3.33vw, 30.7px);
    opacity: 0;
    animation: scale-in-center 0.5s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    -webkit-animation: scale-in-center 0.5s;
    -webkit-animation-play-state: paused;
    -webkit-animation-fill-mode: forwards;
}

.AboutCSSIconContainer {
    display: flex;
    flex-shrink: 0;
    width: max(3.33vw, 30.7px);
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.AboutCSSIcon {
    width: max(3.33vw, 30.7px);
    opacity: 0;
    animation: scale-in-center 0.5s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    -webkit-animation: scale-in-center 0.5s;
    -webkit-animation-play-state: paused;
    -webkit-animation-fill-mode: forwards;
}

.AboutReactIconContainer {
    display: flex;
    flex-shrink: 0;
    width: max(3.33vw, 30.7px);
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.AboutReactIcon {
    width: max(3.33vw, 30.7px);
    opacity: 0;
    animation: scale-in-center 0.5s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    -webkit-animation: scale-in-center 0.5s;
    -webkit-animation-play-state: paused;
    -webkit-animation-fill-mode: forwards;
}

.AboutAndroidIconContainer {
    display: flex;
    flex-shrink: 0;
    width: max(3.33vw, 30.7px);
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.AboutAndroidIcon {
    width: max(3.33vw, 30.7px);
    opacity: 0;
    animation: scale-in-center 0.5s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    -webkit-animation: scale-in-center 0.5s;
    -webkit-animation-play-state: paused;
    -webkit-animation-fill-mode: forwards;
}

.AboutSpringBootIconContainer {
    display: flex;
    flex-shrink: 0;
    width: max(3.33vw, 30.7px);
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.AboutSpringBootIcon {
    width: max(3.33vw, 30.7px);
    opacity: 0;
    animation: scale-in-center 0.5s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    -webkit-animation: scale-in-center 0.5s;
    -webkit-animation-play-state: paused;
    -webkit-animation-fill-mode: forwards;
}