@import '../TerminalController.css';

.HomeTitle {
    display: inline-block;
    white-space: pre;
    flex-shrink: 0;
    overflow: visible;
    width: fit-content;
    font-size: max(1.3vw, 12px);
}

.HomeText {
    display: inline-block;
    white-space: pre;
    flex-shrink: 0;
    overflow: visible;
    width: fit-content;
    font-size: max(1.3vw, 12px);
}