@import '../TerminalController.css';

.HomeTitle {
    display: inline-block;
    white-space: pre;
    flex-shrink: 0;
    font-size: 0.875rem;
    overflow: visible;
    width: fit-content;
}

.HomeText {
    display: inline-block;
    white-space: pre;
    flex-shrink: 0;
    overflow: visible;
    width: fit-content;
}