@import '../TerminalController.css';

.ProjectsTitle {
    font-size: 0.875rem;
    display: inline-block;
    white-space: pre;
    flex-shrink: 0;
    flex-grow: 0;
    width: inherit;
}

.ProjectsTitleColumnContainer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.ProjectsBodyColumnContainer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.ProjectsProjectRowContainer {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    width: inherit;
}

.ProjectsDetoxProjectContainer {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.ProjectsTidalfyProjectContainer {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
}

.ProjectsKangskDevProjectContainer {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    margin-top: 10px;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.ProjectsProjectContentContainer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.ProjectsProjectText {
    white-space: pre;
    font-size: 1.125rem;
    color: #f5c743;
}

.ProjectsProjectTechnologiesRowContainer {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.ProjectsProjectTechnologyImage {
    width: 40px;
    margin-right: 12.5px;
    animation: scale-in-center 0.5s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    -webkit-animation: scale-in-center 0.5s;
    -webkit-animation-play-state: paused;
    -webkit-animation-fill-mode: forwards;
}

.ProjectsProjectImage {
    width: 150px;
    margin-right: 15px;
    animation: scale-in-center 0.3s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    -webkit-animation: scale-in-center 0.3s;
    -webkit-animation-play-state: paused;
    -webkit-animation-fill-mode: forwards;
}