@import '../TerminalController.css';

.ProjectsTitle {
    font-size: max(1.3vw, 12px);
    display: inline-block;
    white-space: pre;
    flex-shrink: 0;
    flex-grow: 0;
    width: inherit;
}

.ProjectsTitleColumnContainer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.ProjectsBodyColumnContainer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.ProjectsProjectRowContainer {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    width: inherit;
}

.ProjectsDetoxProjectContainer {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    margin-top: max(1.3vw, 12px);
    margin-bottom: max(0.6vw, 5.5px);
    margin-right: max(0.6vw, 5.5px);
    padding-left: 0vw;
    padding-top: max(0.6vw, 5.5px);
    padding-bottom: max(0.6vw, 5.5px);
    padding-right: max(0.6vw, 5.5px);
    border-radius: max(0.6vw, 5.5px);
}

.ProjectsTidalfyProjectContainer {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    margin-top: max(1.3vw, 12px);
    margin-bottom: max(0.6vw, 5.5px);
    margin-left: max(0.6vw, 5.5px);
    padding-top: max(0.6vw, 5.5px);
    padding-bottom: max(0.6vw, 5.5px);
    padding-right: max(0.6vw, 5.5px);
    padding-left: max(0.6vw, 5.5px);
    border-radius: max(0.6vw, 5.5px);
}

.ProjectsKangskDevProjectContainer {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    margin-top: max(0.6vw, 5.5px);
    padding-left: 0vw;
    padding-top: max(0.6vw, 5.5px);
    padding-bottom: max(0.6vw, 5.5px);
    padding-right: max(0.6vw, 5.5px);
    border-radius: max(0.6vw, 5.5px);
}

.ProjectsProjectContentContainer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.ProjectsProjectText {
    white-space: pre;
    font-size: max(1.329vw, 12.267px);
    color: #f5c743;
}

.ProjectsProjectTechnologiesRowContainer {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.ProjectsProjectTechnologyImage {
    width: max(2.6vw, 24px);
    margin-right: max(0.83vw, 7.6px);
    animation: scale-in-center 0.5s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    -webkit-animation: scale-in-center 0.5s;
    -webkit-animation-play-state: paused;
    -webkit-animation-fill-mode: forwards;
}

.ProjectsProjectImage {
    width: max(10vw, 92.3px);
    margin-right: max(1vw, 9.2px);
    animation: scale-in-center 0.3s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    -webkit-animation: scale-in-center 0.3s;
    -webkit-animation-play-state: paused;
    -webkit-animation-fill-mode: forwards;
}