.Terminal {
    background-color: transparent;
    color: white;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
}

input {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: white;
}

  
  .terminal-output[data-terminal-prompt]:before {
    content: attr(data-terminal-prompt);
    color: #a2a2a2;
    margin-right: 0.75em;
  }