.Navbar {
    background-color: #312e2e;
    color: white;
    display: flex;
    align-items: center;
}

.Navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.Navbar ul li {
    display: inline;
    list-style: none;
    font-size: small;
    border-radius: 10px 10px 0px 0px;
    height: 6dvh;
    font-family: 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
    background-color: #312e2e;
    color: #9e9e9e
}

.Navbar ul li:hover {
    display: inline;
    list-style: none;
    font-size: small;
    border-radius: 10px 10px 0px 0px;
    font-family: 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
    background-color: #2b2928;
    color: #9e9e9e
}

.Navbar ul li.active {
    display: inline;
    list-style: none;
    font-size: small;
    border-radius: 10px 10px 0px 0px;
    font-family: 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
    background-color: #1f1e1d;
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding-left: 3dvh;
    padding-right: 7dvh;
    padding-top: 2dvh;
    padding-bottom: 2dvh;
}