.Navbar {
    background-color: #212f3d;
    color: white;
    display: flex;
    align-items: center;
    height: 45px;
    width: 100vw;
    min-width: 742.5px;
}

.Navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    height: inherit;
    width: inherit;
    min-width: fit-content;
}

.Navbar ul li {
    display: inline;
    list-style: none;
    font-size: max(0.85vw, 12px);
    border-radius: 10px 10px 0px 0px;
    width: max(16vw, 200px);
    min-width: fit-content;
    height: inherit;
    font-family: 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
    background-color: #212f3d;
    color: #9e9e9e;
}

.Navbar ul li:hover {
    background-color: #1c2834;
}

.Navbar ul li.Active {
    background-color: #263747;
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding-left: 18px;
    height: inherit;
    width: calc(max(16vw, 200px) - 18px);
    text-wrap: nowrap;
    align-content: center;
}

.NavbarWindowButtons {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 15px;
    margin-left: 75px;
    width: 67.5px;
    gap: 15px;
}

.NavbarWindowButtons button {
    width: 12.5px;
    height: 12.5px;
    border-radius: 50%;
    border: 0;
}

.NavbarWindowButtons button.RedButton {
    background: #d84f5a;
}

.NavbarWindowButtons button.YellowButton {
    background: #eebb21;
}

.NavbarWindowButtons button.GreenButton {
    background: #3cca2f;
}