@import './TerminalComponent.css';

.InitialDisplayTitle {
    display: inline-block;
    overflow: hidden;
    white-space: pre;
    flex-shrink: 0;
}

.InitialDisplayText {
    display: inline-block;
    overflow: hidden;
    white-space: pre;
    flex-shrink: 0;
}