.Terminal {
    background: #263747;
    color: white;
    font-size: max(1.3vw, 12px);
    font-family: 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
    border-radius: 4px;
    margin: 25px 45px 25px 45px;
    padding: 16px;
    position: relative;
    border: 1px solid #f5c743;
    width: calc(100vw - 124px);
    min-width: 618.5px;
    height: inherit;
    max-height: calc(100vh - 129px);
}
  
.TerminalContainer {
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 129px);
    width: calc(100vw - 124px);
    min-width: 618.5px;
}

.TerminalLine {
    white-space: pre;
}
  
.TerminalLine:before {
    display: inline-block;
    vertical-align: middle;
    color: #a2a2a2;
}

.TerminalPrompt[prompt]:before {
    margin-right: 0.75em;
    content: attr(prompt);
}
  
.Terminal:focus-within .TerminalCursorContainer .TerminalCursor {
    position: relative;
    display: inline-block;
    width: 0.55em;
    height: 0.93em;
    top: 0.225em;
    background: #fff;
    -webkit-animation: blink 1s infinite;
            animation: blink 1s infinite;
}

.TerminalHiddenInput {
    font-size: inherit;
    font-family: inherit;
    position: fixed;
    left: -1000px;
}
    
@-webkit-keyframes blink {
    50% {
        opacity: 0;
    }
}
  
@keyframes blink {
    50% {
        opacity: 0;
    }
}